/*
 * Your Stylesheet
 *
 * This stylesheet is loaded when Atom starts up and is reloaded automatically
 * when it is changed.
 *
 * If you are unfamiliar with LESS, you can read more about it here:
 * http://www.lesscss.org
 */

.editor .git-commit.line-too-long.deprecated {
  color: orange;
  text-decoration: none;
}

.editor .git-commit.line-too-long.illegal {
  color: #fff;
  background: #DA2C43;
  opacity: 0.9;
}

// .tab-bar {
//   padding: 0;
//
//   .tab{
//     top: 0;
//     border: 1px solid #b9b9b9;
//     border-bottom: 0;
//     margin: 0;
//     padding: 0 10px 0 0;
//     border-top: 0;
//     border-left: 0;
//     border-top-right-radius: 0;
//     max-width: 200px;
//     height: 31px;
//     line-height: 31px;
//
//     &.active, &:before {
//       height: 32px;
//       line-height: 30px;
//     }
//
//     &:before {
//       display: none;
//     }
//
//     &, .title, .close-icon {
//       -webkit-transform: none;
//     }
//
//     .title {
//       margin: 0 10px;
//     }
//     .close-icon {
//       right: 5px;
//     }
//   }
// }

// Used when using Solarized Dark
// ::-webkit-scrollbar {
//   width: 8px;
//   height: 8px;
// }
//
// ::-webkit-scrollbar-track {
//   background-color: #444;
//   box-shadow: 0 0 5px black inset;
// }
//
// ::-webkit-scrollbar-thumb {
//   border-radius: 5px;
//   background-color: #555;
//   box-shadow: 0 0 1px black inset;
// }
//
// ::-webkit-scrollbar-thumb:hover {
//   background-color: #111;
//   box-shadow: 0 0 2px black inset;
// }
